name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    name: macOS (Xcode ${{ matrix.xcode }})
    runs-on: macos-14
    strategy:
      matrix:
        xcode:
          - '15.4'
          - '16.2'
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Run tests
        run: make test-swift

  macos-library-evolution:
    name: macOS Library Evolution (Xcode ${{ matrix.xcode }})
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - '15.4'
          - '16.2'
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Build for Library Evolution
        run: make build-for-library-evolution

  linux:
    strategy:
      matrix:
        swift:
          - '5.10'
    name: Ubuntu (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: swift test --parallel
      - name: Run tests (release)
        run: swift test -c release --parallel

  wasm:
    name: SwiftWasm
    runs-on: ubuntu-latest
    env:
      OMIT_MACRO_TESTS: 1
    strategy:
      matrix:
        include:
          - toolchain: swift-DEVELOPMENT-SNAPSHOT-2024-09-18-a
            swift-sdk: swift-wasm-DEVELOPMENT-SNAPSHOT-2024-09-20-a
            checksum: ac7318b8beee4870162292715654499127833b847af6b3d94c32e574579ea189
    steps:
      - uses: actions/checkout@v4
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - name: Install Swift and Swift SDK for WebAssembly
        run: |
          PREFIX=/opt/swift
          SWIFT_TOOLCHAIN_TAG="${{ matrix.toolchain }}"
          SWIFT_SDK_TAG="${{ matrix.swift-sdk }}"
          set -ex
          curl -f -o /tmp/swift.tar.gz "https://download.swift.org/development/ubuntu2204/$SWIFT_TOOLCHAIN_TAG/$SWIFT_TOOLCHAIN_TAG-ubuntu22.04.tar.gz"
          sudo mkdir -p $PREFIX; sudo tar -xzf /tmp/swift.tar.gz -C $PREFIX --strip-component 1
          $PREFIX/usr/bin/swift sdk install "https://github.com/swiftwasm/swift/releases/download/$SWIFT_SDK_TAG/$SWIFT_SDK_TAG-wasm32-unknown-wasi.artifactbundle.zip" --checksum ${{ matrix.checksum }}
          echo "$PREFIX/usr/bin" >> $GITHUB_PATH
      - name: Build tests
        run: swift build --swift-sdk wasm32-unknown-wasi --build-tests -Xlinker -z -Xlinker stack-size=$((1024 * 1024))
      - name: Run tests
        run: wasmtime --dir . .build/debug/swift-case-pathsPackageTests.wasm

  check-macro-compatibility:
    name: Check Macro Compatibility
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Swift Macro Compatibility Check
        uses: Matejkob/swift-macro-compatibility-check@v1
        with:
          run-tests: false
          major-versions-only: true

  # windows:
  #   name: Windows (Swift ${{ matrix.swift }}, ${{ matrix.config }})
  #   strategy:
  #     matrix:
  #       os: [windows-latest]
  #       config:
  #         - debug
  #         #- release
  #       swift: ['6.0']
  #     fail-fast: false
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: compnerd/gha-setup-swift@main
  #       with:
  #         branch: swift-${{ matrix.swift }}-branch
  #         tag: ${{ matrix.swift }}-DEVELOPMENT-SNAPSHOT-2024-06-03-a
  #     - uses: actions/checkout@v4
  #     - name: Build
  #       run: swift build -c ${{ matrix.config }}

  android:
    name: Android
    runs-on: ubuntu-22.04
    env:
      OMIT_MACRO_TESTS: 1
    steps:
      - uses: johankool/swift-android-test-action@v1
